@import url("../fonts.googleapis.com/earlyaccess/hanna.css");
body {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(135deg, #fdfcfb, #e2d1c3);
}
div {
    display: block;
}
.nav {
    margin-top: 70px;
    height: 10vh;
    text-align: center;
    font-family: Hanna;
    font-size: 50px;
}
.empty {
    height: 3vh;
}
.board {
    width: 500px;
    margin: auto;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px #000;
}
.board__row {
    display: flex;
}
.board__col {
    width: 30px;
    height: 30px;
    background: #ffc078;
    position: relative;
    flex-grow: 1;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
}
.board__col:hover {
    background: #fd7e14;
}
.black:after {
    background-color: #000;
}
.black:after,
.white:after {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
}
.white:after {
    background-color: #fff;
    z-index: 7;
}
.currentTurn {
    font-size: 30px;
}
.currentTurn,
.footer {
    text-align: center;
    font-family: Hanna;
}
.footer {
    margin-top: 50px;
    height: 20vh;
    background-color: transparent;
    font-size: 25px;
}
.swal-title {
    font-family: Hanna;
    margin: 0;
    font-size: 30px;
    margin-bottom: 28px;
}
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-image: linear-gradient(0deg, #dad4ec 0, #dad4ec 1%, #f3e7e9);
    font-size: 15px;
    border: 1px solid transparent;
    color: #5f5f5f;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.col__grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.col__grid:after {
    top: 0;
    right: calc(50% - 1px);
    bottom: calc(50% - 1px);
    left: 0;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}
.col__grid:after,
.col__grid:before {
    display: block;
    content: "";
    position: absolute;
    box-sizing: border-box;
}
.col__grid:before {
    top: 50%;
    right: -1px;
    bottom: -1px;
    left: 50%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}
.board__row:first-child .col__grid:after {
    border-top: none;
    border-left: none;
    border-right: none;
}
.board__row:last-child .col__grid:before {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.board__col:first-child .col__grid:after {
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.board__col:last-child .col__grid:before {
    border-top: none;
    border-bottom: none;
    border-right: none;
}
